.wrapper {
  width: 100%;
  margin: 0;
  padding: 10px;
  position: relative;
  overflow: visible;
}

@media only screen and (max-width: 600px) {
  .wrapper {
    width: 100%;
    padding: 5px;
  }
}
