.wrapper {
  width: 100%;
  margin: 5px auto 0 auto;
  max-height: 150px;
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 10px;
  font-family: "Quicksand", sans-serif;
}

/* width */
.wrapper::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.wrapper::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
.wrapper::-webkit-scrollbar-thumb {
  background: var(--primaryText);
  border-radius: 10px;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    width: 90%;
  }
}
