.hover {
  position: relative;
  display: flex;
  justify-content: center;
}

.hover__hover {
  display: none;
}

.hover__no {
  display: block;
}

.hover:hover .hover__hover {
  display: block;
}

.hover:hover .hover__no {
  display: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
